.username{
    font-weight: 700;
    font-size: 18px;
}
.nickname{
    font-size: 14px;
}
.date{
    padding-top: 12px;
    display: flex;
    align-items: center; 
    gap: 10px;
}
.follow{
    padding-top: 12px;
    display: flex;
    gap: 10px;
}